body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #000;
    background: #ededed;
}

section {
    margin-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.top {
    background: #474747;
    color: #c6c6c6;
    position: relative;
    margin-top: 20px;
}

.resource {
    padding: 10px 100px 10px 20px;
    font-size: 16px;
}

.data-center {
    background: #2f549b;
    padding: 40px 7px;
    font-size: 16px;
    position: absolute;
    top: -3px;
    right: 1px;
    display: flex;
}

.one {
    font-size: 20px;
    color: #fff;
    background: url(../img/bg-datacenter.png) 0 0 no-repeat;
    background-size: contain;
    padding-left: 30px;
}

.two {
    font-size: 10px;
    color: inherit;
    padding: 1px 1px 1px 1px;
}

.two p {
    margin: 0;
}

/****** CENTER *******/
.center {

}

.block {
    text-align: center;
    /*width: 230px;*/
    margin: 20px 10px;
    color: #2f549b;
    background: #fff;
    padding: 15px 25px 15px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(19, 19, 19, 0.25);
    -moz-box-shadow: 0 1px 2px 0 rgba(19, 19, 19, 0.25);
    box-shadow: 0 1px 2px 0 rgba(19, 19, 19, 0.25);
    cursor: pointer;
}

.line {
    background: url(../img/bg_line.png) 50% 50% no-repeat;
    height: 10px;
}

.read {
    color: #c6c6c6;
    text-decoration: underline;
}

.block:hover {
    background: #2f549b;
    -webkit-box-shadow: 0 1px 2px 0 rgba(19, 19, 19, 1);
    -moz-box-shadow: 0 1px 2px 0 rgba(19, 19, 19, 1);
    box-shadow: 0 1px 2px 0 rgba(19, 19, 19, 1);
}

.block:hover .title {
    color: #fff;
}

.block:hover .description {
    color: #fff;
}

.block:hover .paragraph {
    color: #7c9cdb;
}

.block:hover .read {
    color: #fff;
}

/******* BOTTOM *******/

.bottom {
    background: #c6c6c6;
    position: relative;
    padding: 60px 10px 20px 10px;
    color: #5e5e5e;
}

.bottom h5 {
    background: #2f549b;
    padding: 15px 20px 15px 20px;
    margin: 0;
    position: absolute;
    top: -40px;
    left: 18%;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
}

.bottom h5::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 21px 0;
    border-color: transparent #1f3560 transparent transparent;
    line-height: 0;
    _border-color: #000000 #1f3560 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    top: 40px;
    left: -24px;
}

.bottom h5::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 21px 24px 0 0;
    border-color: #1f3560 transparent transparent transparent;
    line-height: 0;
    _border-color: #1f3560 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    top: 40px;
    right: -24px;

}

.wrap-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tools {
    text-align: center;
    width: 30%;
}

.tools:hover {
    background: #2f549b;
    color: #fff;
    border-radius: 3px;
}

.tools i {
    text-align: center;
    display: block;
    width: 70px;
    height: 66px;
    background: url(../img/ic-sprte.png) 9px 0 no-repeat;
}

.tools2 i {
    background-position: -95px 0;
}

.tools3 i {
    background-position: -200px 0;
}

.tools4 i {
    background-position: -305px 0;
}

.tools5 i {
    background-position: -410px 0;
}

.tools6 i {
    background-position: -505px 0;
}

/******* @MEDIA ********/

@media screen and (min-width: 640px) {
    .container {
        max-width: 560px;
    }

    .resource {
        font-size: 20px;
    }

    .data-center {
        padding: 30px 20px;
        font-size: 16px;
        top: -11px;
    }

    .one {
        font-size: 27px;
        padding-left: 50px;
    }

    .two {
        font-size: 13px;
        padding: 8px 1px 1px 9px;
    }

    .two p {
        padding: 0;
        margin: 0;
        line-height: 0.8;
    }

    .wrap-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .block {
        width: 230px;
    }

    .mg-bottom img {
        margin-bottom: 17px;
    }

    .bottom h5 {
        left: 35%;
    }

    .tools {
        padding: 0 42px;
    }

    .tools i {
        margin: 0 auto;
        background: url(../img/ic-sprte.png) 2px 0 no-repeat;
    }

    .tools2 i {
        background: url(../img/ic-sprte.png) -100px 0 no-repeat;
    }
    .tools3 i {
        background: url(../img/ic-sprte.png) -205px 5px no-repeat;
    }
    .tools4 i {
        background: url(../img/ic-sprte.png) -312px 10px no-repeat;
    }
    .tools5 i {
        background: url(../img/ic-sprte.png) -415px 5px no-repeat;
    }
    .tools6 i {
        background: url(../img/ic-sprte.png) -515px 5px no-repeat;
    }
}
@media screen and (min-width: 768px) {
    .data-center {
        padding: 30px 40px;
    }
    .one {
        padding-left: 70px;
    }
    .bottom h5 {
        left: 38%;
    }
}
