
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #000;
    background: #ededed;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
